<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
   <input type="button" name="login" value="Log in" class="loginbtn">
     <div class="container">
        <div class="signup">
           <img src="../images/Pinify-logos.jpeg" width="100px" height="100px"  class="logo"> 
              <br>
                <span class="heading"> Welcome to PINIFY </span>
                <form action="/register" method="post">
                  <p> <input type="email" placeholder="Email" name="email" class="email"> </p>
                  <p> <input type="text" placeholder="Username" name="username" class="email"> </p>
                  <p> <input type="text" placeholder="Full-Name" name="fullname" class="email"> </p>
                  <p> <input type="password" placeholder="Password" name="password" class="password"> </p>
                  <p> <input type="submit" value="Register" class="continue"> 
                  </form>
                  <br>
                  
                  <p class="term"> Creating an account means you’re OK with PINIFY 
                  <br>  <b style="color:grey;"> Terms of Service </b> and  <b style="color:grey;"> Privacy Policy   </b> </p>
                 </div>
           </div>
             
</body>
</html>