body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat; /* Prevent background image from repeating */
  background-size: cover; /* Cover the entire background */
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 415px;
  height: 520px;
  margin: 50px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9); /* 90% opacity white */
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  padding: 15px;
}

.signup .heading {
  font-size: 28px;
  font-weight: bold;
  color: #323232;
}
.signup .term {
  font-size: 11px;
  color: #888; 
  padding: 7px;
}

.signup input[type="email"],
.signup input[type="password"],
.signup input[type="text"],
.signup .continue {
  border: none;
  width: 250px;
  height: 32px;
  border-radius: 5px;
  background-color: #dcdcdc;
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
  color: #333;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin: 5px 0;
}

.signup .continue {
  background-color: #b30000;
  color: #fff;
  width: 270px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}

.signup .continue:hover {
  background-color: #cc0000;
}

.signup .term {
  font-size: 11px;
  color: #888;
  padding: 7px;
}

.loginbtn {
  font-size: 15px;
  width: 130px;
  height: 35px;
  margin-top: -35px;
  margin-right: 10px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.loginbtn:hover {
  background-color: #ddd;
}
